<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116831305-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116831305-1');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<meta property="og:title" content="Slate Robotics">
	<meta property="og:description" content="Human-sized robots for hackers">
	<meta property="og:image" content="https://slaterobots.com/img/slate-tr2-5.png">
	<meta property="og:url" content="https://slaterobots.com/">

	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
	<link href="/css" rel="stylesheet" type="text/css" />
	<script src="https://js.stripe.com/v3/"></script>
	<title>The Ultimate Development Platform | Slate Robotics</title>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/59b4bf6bc28eca75e461f241/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
<!--End of Tawk.to Script-->
</head>
<body>
	<script type="text/javascript">
		var stripe;
		if (location.hostname == "localhost" || location.hostname == "127.0.0.1") {
			stripe = Stripe('pk_test_CsY0cjghmRENfY4wFOYRtBxD');
			console.log("Using Stripe Test API Key.")
		} else {
			stripe = Stripe('pk_live_ze8hA2F83TUWD4s1pY5Fwn1K');
		}
		var elements = stripe.elements();
	</script>
	<div id="container" style="height: 100%;">
		<div style="padding-top:215px;text-align:center;">
			<img src="/img/wait" />
		</div>
	</div>
	<script src="/js"></script>
</body>
