<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<title>Slate Robotics - Application Recieved</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="color:#222;width:100%;display:inline-block;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
      <img src="http://slaterobots.com/img/logo-icon" height="75" width="75" style="height:75px;width:75px;float:left;" />
			<h1 style="padding-left:10px;float:left;">
				Slate Robotics
			</h1>
		</div>
    <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
			<h3>Hi!</h3>
      <p>
				We have received your application for the __POSITION__ position here at Slate Robotics. We have attached it below for your records.
			</p>
			<p>
				Thanks for taking the time to apply! If we're interested in moving forward, we will follow-up with you within 3 business days, where we may schedule an in-person interview.
			</p>
      <div>
        <p>
          Thank you!
        </p>
        <p>
          Zach Allen
          <br/>
          CEO, Slate Robotics
        </p>
			</div>
			<div style="border-top: 1px solid #222; padding-top: 15px">
				__APPLICATION__
			</div>
    </div>
  </div>
</body>
