<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<title>Slate Robotics - Comment Mention</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="color:#222;width:100%;display:inline-block;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
      <img src="http://slaterobots.com/img/logo-icon" height="75" width="75" style="height:75px;width:75px;float:left;" />
			<h1 style="padding-left:10px;float:left;">
				Slate Robotics
			</h1>
		</div>
    <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
			<h3>Hi!</h3>
      <p>
				You were mentioned in a comment under the question <b>__QUESTION__</b>.
			<p>
				You can view and respond to it
				<a href="https://slaterobots.com/questions/__QUESTION_ID__">here.</a>
			</p>
			<p>
				Have a great day!
			</p>
    </div>
  </div>
</body>
