<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<title>Slate Robotics - Order Placed</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="color:#222;width:100%;display:inline-block;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
      <img src="http://slaterobots.com/img/logo-icon" height="75" width="75" style="height:75px;width:75px;float:left;" />
			<h1 style="padding-left:10px;float:left;">
				Slate Robotics
			</h1>
		</div>
		<div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
			<h3>Hi __NAME__,</h3>
      <p>We are so excited and thankful for your ordering with us!</p>
      <div style="padding:15px;background-color:#eee;border: 1px solid #ccc;">
        <h3 style="margin-top:0px;">Order Details</h3>
        <p>
          __PRODUCT__
        </p>
        <p>
          Ship to: <b>__ADDRESS__</b>
        </p>
        <div>
          Subtotal: __SUBTOTAL__
          <br />
          Tax: __TAX__
          <br />
          Total: <b>__TOTAL__</b>
        </div>
      </div>
			<p>
				Click here to track your order:
				<a href="https://www.slaterobots.com/order/__ID__?token=__TOKEN__">https://www.slaterobots.com/order/__ID__?token=__TOKEN__</a>
			</p>
      <p>
        Reply to this email if you have any questions.
        You will get another email when your order has shipped.
      </p>
      <div>
        <p>
          Thank you!
        </p>
        <p>
          Zach Allen
          <br/>
          CEO, Slate Robotics
        </p>
		</div>
</body>
