<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<title>Slate Robotics - Password Replace</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="color:#222;width:100%;display:inline-block;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
      <img src="http://slaterobots.com/img/logo-icon" height="75" width="75" style="height:75px;width:75px;float:left;" />
			<h1 style="padding-left:10px;float:left;">
				Slate Robotics
			</h1>
		</div>
    <div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
			<h3>Hi!</h3>
      <p>
				We got a request to reset your Slate Robotics password. Click the URL below
				to do this.
			</p>
      <p><a href="__LINK__" style="word-break:break-all;">__LINK__</a></p>
      <p>
				If you ignore this message, your password won't be changed, and the
				above link will expire after an hour or two.
			</p>
      <p>
				If you didn't request a password reset, let us know by responding
				to this email.
			</p>
      <div>
        <p>
          Thank you!
        </p>
        <p>
          Zach Allen
          <br/>
          CEO, Slate Robotics
        </p>
		</div>
    </div>
  </div>
</body>
