<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" type="text/css">
	<title>Slate Robotics - Reservation Placed</title>
</head>
<body>
	<div id="container" style="height: 100%;">
		<div style="color:#222;width:100%;display:inline-block;font-family:'Poiret One', cursive;">
      <img src="http://slaterobots.com/img/logo-icon" height="75" width="75" style="height:75px;width:75px;float:left;" />
			<h1 style="padding-left:10px;float:left;">
				Slate Robotics
			</h1>
		</div>
		<div style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
			<h3>Hi __NAME__,</h3>
      <p>We are so excited and thankful for your reservation placement!</p>
      <div style="padding:15px;background-color:#eee;border: 1px solid #ccc;">
        <h3 style="margin-top:0px;">Reservation Details</h3>
        <p>
          Slate Robotics TR1
        </p>
				<p>
					Contact Phone: <b>__PHONE__</b>
				</p>
        <p>
          Billing Address: <b>__ADDRESS__</b>
        </p>
        <div>
          Reservation Amount: <b>__TOTAL__</b>
        </div>
      </div>
      <p>
        Reply to this email if you have any questions.
        You will get another email in the future when we're
				ready for you to finalize your order for the TR1.
      </p>
      <div>
        <p>
          Thank you!
        </p>
        <p>
          Zach Allen
          <br/>
          CEO, Slate Robotics
        </p>
		</div>
</body>
